article.dropcap {
    .article-body {
        & > p:first-child,
        p.dropcap {
            &:before {
                float: left;
                display: block;
                content: "";
                width: clamp(10rem, 10.75vw, 10.75rem);
                height: clamp(9rem, 6vh, 12.75rem);
                margin: 0 0.5rem 0.5rem 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                mix-blend-mode: multiply;
            }

            .first-letter {
                display: none;
            }
        }
    }
}

.article-body {
    & > * {
        font-size: $type-size-400;
        line-height: 1.75em;

        @include tablet {
            font-size: $type-size-300;
            line-height: 1.75em;
        }
    }

    & > * + * {
        margin-top: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: -1.5rem;
        font-weight: normal;
    }

    h4 {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: clamp(0.875rem, 1vw, 1.125rem);
        padding-top: 2rem;

        & + * {
            margin-top: 1rem;
        }

        &.has-text-align-right {
            & + p {
                margin-top: 0;
            }
        }
    }

    & > h4:first-child {
        padding-top: 0;

        & + * {
            margin-top: 2rem;
        }
    }

    a {
        border-bottom: 1px solid rgba($black, 0.5);
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    ol,
    ul {
        clear: both;
        padding-left: 1rem;

        li {
            padding-left: 1rem;

            & + li {
                margin-top: 1.5rem;
            }

            .indent {
                display: block;
                text-indent: 3rem;
            }
        }

        &.inset {
            padding-left: 3rem;

            li + li {
                margin-top: 0.5rem;
            }
        }
    }

    .last-p {
        svg {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            transform: translateY(3px);
        }
    }
}

.wp-block-pullquote:not(.basic) {
    text-align: center;
    padding: 0;
    margin: 3rem 0 3rem 0;

    &::before,
    &::after {
        width: 100%;
        max-width: 24rem;
        margin: 0 auto;

        content: "";
        display: block;
    }

    &::before {
        border-top: 1px solid rgba($dark-blue, 0.5);
        padding-top: 2rem;
    }

    &::after {
        border-bottom: 1px solid rgba($dark-blue, 0.5);
        padding-bottom: 2rem;
    }

    p {
        font-family: $fournier-std-grand;
        font-size: $type-size-500;
        line-height: 1.75em;
        padding: 0;
        margin: 0;
    }

    blockquote {
        margin: 0 auto;
        padding: 0;
        max-width: 44rem;
        width: 100%;

        & > * + * {
            margin-top: 2rem;
        }
    }
}

.wp-block-pullquote.basic {
    margin: 1.5rem 0 0 0;
    padding: 0 0 0 2rem;
    text-align: left;
    max-width: 100%;

    &.has-text-align-center {
        text-align: center;
    }

    blockquote {
        margin: 0;
        padding: 0;
    }

    * {
        font-size: $type-size-300;

        @include tablet {
            font-size: $type-size-200;
        }
    }

    &.extended {
        p + p {
            margin-top: 1rem;
        }
    }
}

.wp-block-image {
    @include tablet {
        width: calc(100% + 20vw);
        margin-left: -10vw;

        &.inset {
            width: unset;
            margin-left: unset;
        }
    }

    figcaption {
        text-align: center;
        padding-top: 0.25rem;
        font-size: clamp(0.875rem, 1vw, 1rem);
        line-height: 1.5em;

        em,
        a,
        span {
            font-size: 1em;
        }
    }
}

.wp-block-quote.extended {
    p + p {
        margin-top: 1rem;
    }
}

.wp-block-pullquote {
    &.alignleft {
        max-width: 100%;
    }
}

.wp-block-separator {
    margin-top: 3rem;
    border-color: transparent;
    padding-bottom: 1rem;

    &:before {
        display: block;
        content: "";
        background: url(images/section-divider.svg) no-repeat center center;
        background-size: contain;
        width: 3rem;
        height: 1rem;
        margin: 0 auto;
    }
}

.search-meta {
    display: none;
}
