.article-footer {
    padding-top: 3rem;

    .back {
        border-top: 1px solid $issue-one-dark-blue;
        padding-top: 1.5rem;

        a {
            font-style: italic;
            display: inline-block;
            font-size: 1;
            color: $issue-one-dark-blue;
            padding-bottom: 2px;
            border-bottom: 1px solid $issue-one-light-blue;

            &:before {
                content: '← ';
            }
        }
    }

    .authors {
        border-top: 1px solid rgba($light-blue, 0.5);
        padding-top: 1.5rem;
    }

    .author {
        display: grid;
        gap: 0 2rem;
        grid-template-columns: auto 1fr;
        align-items: center;

        & + .author {
            padding-top: 2rem;
        }

        &__photo {
            max-width: 6rem;
            margin: 0 auto;

            img {
                border-radius: 50%;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        padding-top: 3rem;

        .cta {
            & + .cta {
                margin-left: 3rem;
            }
        }

        .btn {
            padding: 1.5rem 2.5rem;
            text-align: center;
            line-height: 2em;
            @include double-border($light-blue);
        }
    }
}
