.slim-line-powered-by {
    opacity: 0;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.slim-line-imge-content {
    background: #fbf9f7;

    img {
        max-width: 6rem !important;
        mix-blend-mode: multiply;
    }
}

.slim-line-c-content {
    max-width: 960px !important;
}

.slim-line-te-content {
    span {
        font-size: 20px !important;
    }
}
