.page-header {
    @include desktop-small {
        padding-bottom: 6rem;
    }

    .copy {
        padding-top: 2rem;
        @include desktop-small {
            grid-column: 4 / span 8;
        }

        a {
            text-decoration: underline;
        }
    }
}
