.page-header {
    @include desktop-small {
        padding-bottom: 6rem;
    }

    .icon {
        display: block;
        aspect-ratio: 7 / 6;
        max-width: 8rem;
        margin: 0 auto 1rem auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: multiply;
        }
    }

    .copy {
        padding-top: 2rem;
        @include desktop-small {
            grid-column: 4 / span 8;
        }

        a {
            text-decoration: underline;
        }
    }
}
