.salon-contact {
    &__content {
        text-align: center;
        background: var(--color-blue-dark);
        color: var(--color-white);
        padding: 2rem;
        margin-top: 3rem;

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    &__title {
        padding-bottom: 1.5rem;
        font-style: italic;
        font-weight: 400;
        font-size: var(--type-size-600);
    }

    .cta {
        .btn {
            border-color: var(--color-white) !important;
            color: var(--color-white) !important;

            &:hover {
                background: var(--color-white) !important;
                color: var(--color-blue-dark) !important;
            }
        }
    }
}
