.learning-guide {
    gap: 3rem 2rem;

    &__header {
        text-align: center;

        h2 {
            font-style: italic;
            font-size: $type-size-400;
            display: inline-block;
            border-bottom: 2px solid $light-blue;
            padding: 0 0.25rem 0.5rem 0.25rem;
        }
    }

    &__article {
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .teaser {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 0.5rem;

        &__dek {
            display: none;
        }

        &__authors {
            padding-top: 0;
        }

        &__title {
            font-size: $type-size-500;
        }

        &__authors {
            font-size: $type-size-200;
        }
    }

    &__questions {
        padding-top: 2rem;
    }
}
