.info {
    align-self: start;
    padding-bottom: 1.5rem;
    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        padding-bottom: 0;
        grid-column: 2 / span 6;
    }

    &__title {
        font-size: var(--type-size-500);
        line-height: 1.375em;

        @include tablet {
            font-size: var(--type-size-700);
        }
    }

    &__copy {
        padding: 2rem 0;
    }

    .form-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        input.email {
            background: transparent;
            border: 1px solid var(--color-blue-mid);
            padding: 1rem;
            height: 3rem;
            line-height: 1em;
            font-size: var(--type-size-200);
            letter-spacing: 0.02em;
            flex: 1;
            color: var(--color-blue-dark);
            margin-bottom: 0.5rem;
            background: var(--color-white);

            @include desktop-small {
                margin-bottom: 0;
            }

            &:focus,
            &:active {
                outline: none;
            }

            @include placeholder {
                color: var(--color-blue-dark);
            }
        }

        input.button {
            padding: 1rem 2rem;
            height: 3rem;
            line-height: 1em;
            border: none;
            background: var(--color-blue-mid);
            color: var(--color-white);
            font-size: var(--type-size-050);
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: var(--font-sans);
            font-weight: bold;
            margin-bottom: 0.5rem;

            @include desktop-small {
                margin-bottom: 0;
            }
        }
    }

    #mce-responses {
        transform: translateY(1rem);
        color: var(--color-white);
        font-size: 0.875rem;

        #mce-error-response,
        #mce-success-response {
            padding: 1rem;
            max-width: 50rem;
        }

        #mce-error-response {
            background: var(--color-feedback-error);
        }

        #mce-success-response {
            background: var(--color-feedback-success);
        }
    }
}
