.latest-issue-newsletter {
    margin-top: 3px;
    padding: 2rem;
    @include double-border(var(--color-blue-light));
    align-self: start;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 9 / span 5;
        grid-row: 1 / span 2;
    }

    &__cover {
        a {
            display: block;
        }
    }

    &__copy {
        text-align: center;
        padding: 1rem 0;

        @include desktop-small {
            padding: 1.5rem 0;
        }
    }

    &__cta {
        text-align: center;

        .btn {
            font-weight: bold;
        }
    }
}
