@mixin double-border($color) {
    border: 1px solid $color;

    &::before {
        display: block;
        content: '';
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: 0;
        border: 1px solid $color;
    }
}
