@mixin hover-underline {
    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: rgba($light-blue, 0.5);
        transform: translateY(2px);
        opacity: 0;
        transition: all 200ms ease;
    }

    &:hover {
        text-decoration: none;

        &:after {
            opacity: 1;
        }
    }
}

@mixin span-hover-underline($class) {
    #{$class}:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: rgba($light-blue, 0.5);
        transform: translateY(2px);
        opacity: 0;
        transition: all 200ms ease;
    }

    &:hover {
        text-decoration: none;

        #{$class}:after {
            opacity: 1;
        }
    }
}

@mixin basic-underline {
    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: rgba($light-blue, 1);
        transform: translateY(0px);
        opacity: 0;
        transition: all 200ms ease;
    }

    &:hover {
        text-decoration: none;

        &:after {
            opacity: 1;
        }
    }
}
