@mixin page-header {
    .site-content {
        
        .grid {
            & > * {
                @include tablet {
                    grid-column: 3 / span 6;
                }
                @include desktop-small {
                    grid-column: 4 / span 8;
                }
            }
        }
    }
    
    .page-header {
        padding-bottom: 4rem;
    }    
}