.divider {
    padding-top: 1.5rem;

    @include tablet {
        padding-top: 3rem;
    }

    &:before {
        display: block;
        content: '';
        height: 1px;
        background: #d2d1d5;
        width: 100%;
    }

    .dingbat {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $light-tan;
        border-radius: 50%;
        margin: 0 auto;
        width: 2.5rem;
        height: 2.5rem;
        transform: translateY(-1.25rem);

        @include tablet {
            width: 3rem;
            height: 3rem;
            transform: translateY(-1.5rem);
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;

            @include tablet {
                width: 2rem;
                height: 2rem;
            }

            path {
                fill: $light-blue;
            }
        }
    }
}
