.hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    &__link {
        display: inline-flex;
        align-items: center;
    }

    &__buns {
        width: 2rem;
        height: 22px;
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__patty {
        width: 1.25rem;
        height: 1px;
        background: var(--color-black-40);
        transition: all 0.2s;

        &:after,
        &:before {
            content: "";
            display: block;
            width: 1.75rem;
            height: 1px;
            background: var(--color-black-40);
            position: absolute;
            z-index: 1;
            transition: all 0.2s;
        }

        &:before {
            top: -6px;
        }

        &:after {
            top: 6px;
        }
    }

    .explore-link {
        display: none;

        @include tablet {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 0.6125rem;
            font-family: var(--font-sans);
            font-weight: bold;
            color: var(--color-black);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
