.hamburger {
    grid-column: 5 / span 1;

    @include tablet-small {
        grid-column: 9 / span 1;
        padding-top: 1.25rem;
    }

    @include desktop-small {
        grid-column: 13 / span 1;
        padding-top: 1.375rem;
    }

    a {
        width: 2rem;
        height: 22px;
        display: flex;
        align-items: center;
        margin-left: auto;

        .patty {
            width: 2rem;
            height: 2px;
            background: $dark-blue;
            border-radius: 2px;
            margin-left: auto;
            transition: all 0.2s;

            &:after, &:before {
                content: '';
                display: block;
                width: 2rem;
                height: 2px;
                background: $dark-blue;
                position: absolute;
                z-index: 1;
                border-radius: 2px;
                transition: all 0.2s;
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }
    }
}