.hamburger {
    width: 2rem;

    @include tablet {
        width: 8rem;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__buns {
        width: 2rem;
        height: 22px;
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__patty {
        width: 1.25rem;
        height: 1px;
        background: rgba($black, 0.4);
        transition: all 0.2s;

        &:after,
        &:before {
            content: '';
            display: block;
            width: 1.75rem;
            height: 1px;
            background: rgba($black, 0.4);
            position: absolute;
            z-index: 1;
            transition: all 0.2s;
        }

        &:before {
            top: -6px;
        }

        &:after {
            top: 6px;
        }
    }

    &__label {
        display: none;

        @include tablet {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 0.6125rem;
            font-family: $adams;
            font-weight: bold;
            color: $black;
            padding-left: 1rem;
            margin-right: auto;
        }
    }
}
