.site-header {
    padding: 2rem 0 0.5rem 0;

    @include tablet {
        padding: 3rem 0 1rem 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @import 'hamburger';

    @import 'logo';

    @import 'search';

    @import 'tagline';

    @import 'divider';
}

@import 'navigation';

@import 'nav-overlay-open';
