.site-header {
    padding-bottom: 0.5rem;
    background: $light-tan;
    z-index: 6666;

    @include tablet {
        padding-bottom: 1rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @import 'hamburger';

    @import 'logo';

    @import 'search';

    @import 'navigation';

    @import 'tagline';

    @import 'divider';
}

@import 'nav-overlay-open';
