.site-header {
    padding-bottom: 0.5rem;
    background: $light-tan;
    z-index: 6666;

    @include tablet {
        padding-bottom: 1rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .newsletter-link {
        position: relative;
        background: #e2d98e;
        transition: all 300ms ease;
        padding: 0.25rem 1.5rem;

        &:hover {
            text-decoration: none;
            background: lighten(#e2d98e, 5%);
        }
    }

    .about-link {
        display: none;

        @include desktop-small {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 0.6125rem;
            font-family: $adams;
            font-weight: bold;
            color: $black;
            margin-right: 0.75rem;
            white-space: nowrap;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @import "hamburger";

    @import "logo";

    @import "search";

    @import "navigation";

    @import "tagline";

    @import "divider";
}

@import "nav-overlay-open";
