.site-logo {
    flex: 1;
    padding: 0 2rem;

    a {
        display: block;
        margin: 0 auto;
        max-width: 10rem;

        @include tablet {
            max-width: 16rem;
        }

        svg {
            width: 100%;
        }
    }
}
