.nav-overlay-open {
    .header-nav {
        display: block;
    }

    .hamburger {
        &__patty {
            background: transparent;

            &::before {
                rotate: 45deg;
                top: 0;
            }

            &::after {
                rotate: -45deg;
                top: 0;
            }
        }
    }
}

.search-overlay-open {
    .search__modal {
        opacity: 1;
        z-index: 6666;
        pointer-events: unset;
        transform: translateY(0);
    }
}
