.nav-overlay-open {
    .header-nav {
        display: block;
    }

    .hamburger {
        &__patty {
            background: transparent;

            &::before {
                rotate: 45deg;
                top: 0;
            }

            &::after {
                rotate: -45deg;
                top: 0;
            }
        }
    }
}
