.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 2rem;

    @include tablet {
        width: 8rem;
    }

    .about-link {
        display: none;

        @include tablet {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 0.6125rem;
            font-family: $adams;
            font-weight: bold;
            color: $black;
            margin-right: 0.75rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__icon {
        transform: translateY(1px);

        svg {
            width: 1rem;
            height: 1rem;
            path {
                fill: rgba($black, 0.4);
            }
        }
    }

    &__modal {
        position: absolute;
        top: 2.5rem;
        right: 0.5rem;
        background: $light-tan;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: rgba(50, 50, 93, 0.4) 0px 40px 60px -12px, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px;
        padding: 0.75rem;
        pointer-events: none;
        z-index: 5556;
        opacity: 0;
        transition: all 400ms ease 50ms;
        width: 80vw;
        transform: translateY(-1rem);

        @include tablet {
            top: 1.5rem;
            width: 32rem;
            right: -3rem;
        }
    }

    &__close {
        position: absolute;
        top: -0.75rem;
        right: -0.75rem;
        background: $mid-blue;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;

        &:hover {
            cursor: pointer;
        }

        svg {
            width: 0.5rem;
            height: 0.5rem;
            object-fit: contain;

            rect {
                fill: $white;
                transition: fill 200ms ease;
            }
        }
    }
}
