.tagline {
    display: none;

    @include tablet {
        display: block;
        text-align: center;
        padding: 1.5rem 0 0.5rem 0;
    }

    em {
        font-size: $type-size-200;
    }
}
