.salons-archive {
    .section-header {
        margin-top: 3rem;
        border-top: 1px solid rgba($light-blue, 0.5);
        padding-top: 3rem;
        text-align: center;
    }

    .issue {
        &__gallery {
            padding-top: 3rem;
            display: grid;
            gap: 4rem;
            grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        }

        &__cover {
            img {
                aspect-ratio: 360 / 540;
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 24rem;
                margin: 0 auto;
            }
        }

        &__link {
            color: $dark-blue;
            text-align: center;

            &:hover {
                .issue__title {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }
            }
        }

        &__title {
            display: inline-block;
            padding-top: 1rem;
            text-align: center;
            font-size: $type-size-400;
            font-family: $adams;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 1.25em;
            transition: all 200ms ease;
        }

        &__meta {
            padding-top: 0.75rem;
            text-align: center;
            font-style: italic;
            opacity: 0.85;
            letter-spacing: 0;
            text-transform: none;
        }
    }
}
