.issue {
    .section-header {
        margin-top: 3rem;
        border-top: 1px solid rgba($light-blue, 0.5);
        padding-top: 3rem;
        text-align: center;
    }

    &__gallery {
        padding-top: 3rem;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        &-item {
        }
    }

    &__cover {
        aspect-ratio: 360 / 540;
        background: $off-white;
    }

    &__link {
        color: $dark-blue;
    }

    &__title {
        padding-top: 1rem;
        text-align: center;
        font-size: $type-size-500;
        font-family: $adams;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    &__meta {
        padding-top: 0.75rem;
        text-align: center;
        font-style: italic;
        letter-spacing: 0.05em;
        opacity: 0.85;
    }
}
