.issue {
    .section-header {
        margin-top: 3rem;
        border-top: 1px solid var(--color-blue-light-50);
        padding-top: 3rem;
        text-align: center;
    }

    &__gallery {
        padding-top: 3rem;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    &__cover {
        img {
            aspect-ratio: 360 / 540;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 24rem;
            margin: 0 auto;
        }
    }

    &__link {
        color: var(--color-blue-dark);
        text-align: center;

        &:hover {
            .issue__title {
                text-decoration: none;

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &__title {
        display: inline-block;
        padding-top: 1rem;
        text-align: center;
        font-size: var(--type-size-500);
        font-family: var(--font-sans);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: all 200ms ease;

        &:after {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background: var(--color-blue-light-50);
            transform: translateY(2px);
            opacity: 0;
            transition: all 200ms ease;
        }
    }

    &__meta {
        padding-top: 0.75rem;
        text-align: center;
        font-style: italic;
        letter-spacing: 0.05em;
        opacity: 0.85;
        text-transform: none;
        letter-spacing: 0;
    }
}
