.search {
    text-align: center;

    .icon {
        aspect-ratio: 7 / 6;
        max-width: 8rem;
        @include cover-fill-image;
        margin: 0 auto;

        img {
            mix-blend-mode: multiply;
        }
    }

    .section-title-alt {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
}
