.theme {
    .section-header {
        margin-top: 3rem;
        border-top: 1px solid rgba(var(--color-blue-light), 0.5);
        padding-top: 3rem;
        text-align: center;
    }

    &__list {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 55rem;
        margin: 0 auto;
    }

    &__item {
        border-right: 1px solid var(--color-blue-light);
        margin-bottom: 0.75rem;

        &:last-of-type {
            border-right: unset;
        }
    }

    a {
        display: block;
        font-size: var(--type-size-400);
        padding: 0.25rem 1.25rem;
        @include basic-underline;
    }
}
