// VOL 2 - GREEN
// Post Template
body.single-post {
    .volume-two {

        a {
            color: $medium-green;
        }

        &.post .article-header .author .name-link:hover {
            border-color: $medium-green;
        }

        .article-body .wp-block-separator:before {
            background: url(images/section-divider-green.svg) no-repeat center center;
        }

        .article-body {
            li.last-p,
            p.last-p {
                &:after {
                    background: url(images/icon-dingbat-green.svg) no-repeat 0 0;
                    background-size: 100%;

                }
            }

            .question {
                font-weight: bold;
                color: $dark-green;
            }

            .answer {
                font-weight: bold;
                color: $medium-green;

                &.light {
                    color: $light-green;
                }
            }
        }

        &.post .article-body .wp-block-pullquote:not(.basic) {
            border-color: $light-green;
        }


        &.post .article-body .wp-block-pullquote:not(.basic) p {
            color: $medium-green;
        }

       .article-footer .back a {
           border-color: $medium-green;
       }
 
    }
}

// Issue Template
body.single-issue {
    .volume-two {
        .sub-title {
            color: $medium-green;
        }
    
        &.table-of-contents {
            .section-header {
                border-color: $light-green;
            }

            .contents-header {
                .cta {
                    .btn {
                        background: $medium-green;
                    }
                }
            }

            .contents {
                .headline {
                    h2 {
                        color: $medium-green;
                    }
                }
            }    
        }         
    }
}
