.teaser-conversation {
    display: grid;
    gap: 1rem 2rem;

    @include tablet {
        grid-template-columns: 10rem 1fr;
    }

    @include desktop-small {
        grid-column: 3 / span 10;
    }

    & + .teaser-conversation {
        padding-top: 3rem;

        @include desktop-small {
            padding-top: 6rem;
        }
    }

    &__participants {
        max-width: 7rem;

        @include tablet {
            max-width: 10rem;
        }

        .image {
            max-width: 7rem;

            img {
                mix-blend-mode: multiply;
            }
        }
    }

    &__participant {
        & + .teaser-conversation__participant {
            margin-top: -2.25rem;

            @include tablet {
                margin-top: -2.5rem;
            }
        }

        &:nth-child(even) {
            .photo {
                margin-left: auto;

                img {
                    transform: translateX(-1px);

                    @include tablet {
                        transform: translateX(-2px);
                    }
                }

                svg {
                    transform: scaleX(-1);
                }
            }
        }

        &:nth-child(1) {
            z-index: 100;
        }

        &:nth-child(2) {
            z-index: 90;
        }

        &:nth-child(3) {
            z-index: 80;
        }

        .photo {
            max-width: 4rem;
            display: grid;
            align-items: center;
            justify-content: center;

            @include tablet {
                max-width: 6rem;
            }

            svg {
                grid-row: 1;
                grid-column: 1;
                width: 100%;
                height: 100%;
                display: block;
            }

            img {
                grid-row: 1;
                grid-column: 1;
                border-radius: 50%;
                width: 85%;
                margin: 0 auto;
                transform: translateX(1px);
                mix-blend-mode: multiply;

                @include tablet {
                    transform: translateX(2px);
                }
            }

            .no-photo {
                grid-row: 1;
                grid-column: 1;
                width: 5rem;
                height: 5rem;
            }
        }
    }

    &__meta {
        font-family: $adams;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: $type-size-150;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;

        span {
            display: block;

            & + span {
                padding-left: 0.5rem;
                border-left: 1px solid;
                margin-left: 0.5rem;
            }
        }
    }

    .teaser__title {
        font-size: $type-size-500;
        line-height: 1.25em;
    }

    .copy {
        padding-top: 0.5rem;
        a {
            text-decoration: underline;
        }
    }

    .listen {
        display: flex;
        align-items: center;
        padding-top: 2rem;

        strong {
            font-family: $adams;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: $type-size-150;
            font-weight: bold;
        }

        a {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0.75rem;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;

                path {
                    transition: fill 300ms ease;
                }
            }

            &.apple-podcasts:hover {
                svg path {
                    fill: #b150e2;
                }
            }

            &.spotify:hover {
                svg path {
                    fill: #1db954;
                }
            }

            &.google-podcasts:hover {
                svg path {
                    fill: #db4437;
                }
            }
        }
    }

    .cta {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        @include tablet {
            margin-top: 0;
        }
    }

    .copy + .cta {
        padding-top: 2rem;
    }
}
