body.single-post {
    @media print {
        .article-header {
            .pdf {
                display: none !important;
            }
        }

        .article-footer {
            &__links {
                display: none !important;
            }
        }

        div[id^="om-"] {
            display: none !important;
        }
    }
}
