.contact-form {
    @include tablet {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 2 / span 8;
    }

    div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
        max-width: 100%;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-label {
        font-size: var(--type-size-300);
        font-weight: normal;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
        font-size: var(--type-size-200);
        font-style: italic;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field {
        padding: 1rem 0;

        input {
            height: 3rem;
        }
        textarea {
            height: unset;
            min-height: 12rem;
        }
    }

    div.wpforms-container-full .wpforms-form button[type='submit'] {
        display: inline-block;
        border: 1px solid var(--color-blue-light);
        padding: 1rem 1.5rem 0.875rem;
        transition: all 200ms ease;
        color: var(--color-black);
        background: unset;
        font-family: var(--font-sans);

        &:hover {
            background: var(--color-blue-mid);
            border-color: var(--color-issue-1-blue-medium);
            color: var(--color-tan-light);
            text-decoration: none;
        }
    }

    div.wpforms-container-full .wpforms-form label.wpforms-error {
        margin-top: 0.25rem;
    }

    .wpforms-confirmation-container-full {
        background: var(--color-issue-1-blue-light);
        border: none;
        color: var(--color-white);
        margin: 0;
        text-align: center;
    }
}
