.contact-form {
    @include tablet {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 2 / span 8;
    }

    div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
        max-width: 100%;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-label {
        font-size: $type-size-300;
        font-weight: normal;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
        font-size: $type-size-200;
        font-style: italic;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field {
        padding: 1rem 0;

        input {
            height: 3rem;
        }
        textarea {
            height: unset;
            min-height: 12rem;
        }
    }

    div.wpforms-container-full .wpforms-form button[type='submit'] {
        display: inline-block;
        border: 1px solid $light-blue;
        padding: 1rem 1.5rem 0.875rem;
        transition: all 200ms ease;
        color: $black;
        background: unset;
        font-family: $adams;

        &:hover {
            background: $mid-blue;
            border-color: $medium-blue;
            color: $light-tan;
            text-decoration: none;
        }
    }

    div.wpforms-container-full .wpforms-form label.wpforms-error {
        margin-top: 0.25rem;
    }

    .wpforms-confirmation-container-full {
        background: $issue-one-light-blue;
        border: none;
        color: $white;
        margin: 0;
        text-align: center;
    }
}
