.faqs {
    padding-top: 2rem;

    @include tablet {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 10 / span 4;

        border-left: 1px solid rgba(var(--color-blue-light), 0.5);
        padding: 1rem 0 1rem 2rem;
    }

    .section-header {
        padding-bottom: 1rem;
    }

    .faq {
        & + .faq {
            margin-top: 2rem;
            border-top: 1px solid rgba(var(--color-blue-light), 0.5);
            padding-top: 2rem;
        }

        .question {
            padding-bottom: 1rem;
            font-size: var(--type-size-200);
            font-style: italic;
            line-height: 1.375em;
        }

        .answer {
            a {
                text-decoration: underline;
            }
        }
    }
}
