.issue {
    &__contents {
        padding-bottom: 3rem;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 2;
        }

        &-body {
            display: grid;
            gap: 4.5rem 0;

            @include tablet {
                gap: 6rem 0;
            }
        }

        &-header {
            padding-bottom: 2rem;
            font-size: $type-size-300;
        }
    }
}

.teaser {
    &__status {
        padding-bottom: 0.25rem;
    }

    &__date {
        font-size: 0.675rem;
        display: flex;
        align-items: center;

        @include tablet {
            font-size: 0.7125rem;
        }

        .coming-soon {
            display: inline-block;
            color: $red;
        }
    }

    &__title {
        font-size: $type-size-500;
        line-height: 1.375em;
    }

    &.draft {
        pointer-events: none;

        &:hover {
            cursor: default;
        }
    }
}
