.contents {
    @include desktop-small {
        columns: 2;
        column-gap: 2rem;
    }

    .sub-section {
        break-inside: avoid;
        padding-bottom: 2rem;

        @include tablet {
            padding-bottom: 4rem;
        }
    }

    .headline {
        padding-bottom: 1rem;

        h2 {
            font-size: 1.375rem;
            font-style: italic;
            font-weight: 100;
            font-family: $fournier-std-grand;
            letter-spacing: 0.02em;
            color: $medium-blue;
        }
    }

    ul {
        li {
            margin-bottom: 0.25rem;
            max-width: 32rem;
        }
    }

    a {
        color: $slate;
        padding: 1.5rem 1rem;
        display: block;
        border-radius: 5px;
        transition: all 0.4s ease-in;
        break-inside: avoid;
        position: relative;

        @include tablet {
            padding: 2rem;
        }

        &:hover {
            background: rgba(239, 235, 223, 0.35);
            box-shadow: 0 0 20px 12px rgba(239, 235, 223, 0.05);
        }

        span {
            display: block;
        }

        &:not(.alt) {
            letter-spacing: 0.02em;

            .author {
                text-transform: uppercase;
                font-size: 0.6875rem;
                line-height: 1.5em;
                padding-bottom: 0.5rem;
                letter-spacing: 0.15em;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .name + .name:before {
                    padding: 0 0.5rem 0 0;
                    content: ',';
                    font-style: italic;
                }

                .name + .name:nth-child(n + 3):before {
                    content: '&';
                }

                &.authors-2 {
                    .name + .name:before {
                        content: '&';
                        padding-left: 0.5rem;
                    }
                }
            }

            .article-title {
                font-size: 1.0625rem;
            }
        }

        &.alt {
            display: flex;
            align-items: center;
            font-style: italic;
            font-size: 1.0625rem;
            letter-spacing: 0.02em;

            &:before {
                top: 2.4rem;
            }

            .article-title {
                order: -1;
                padding-right: 0.75rem;
                border-right: 1px solid rgba(0, 0, 0, 0.4);
                margin-right: 0.75rem;
            }
        }

        &.draft {
            opacity: 0.35;
            color: $black;
            flex-wrap: wrap;

            &:hover {
                cursor: default;
                background: transparent;
                box-shadow: none;
            }

            .date {
                width: 100%;
                font-style: italic;
                letter-spacing: 0;
                padding-top: 0.5rem;
                font-size: 0.875rem;
            }
        }
    }
}
