.issue {
    &__contents {
        margin-top: 3rem;
        border-top: 1px solid rgba($light-blue, 0.5);
        padding-top: 3rem;
        padding-bottom: 6rem;

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        &-section {
            & + .issue__contents-section {
                padding-top: 3rem;

                @include tablet {
                    padding-top: 4.5rem;
                }
            }
        }

        &-title {
            font-size: $type-size-700;
            padding-bottom: 3rem;
            font-style: italic;
            font-weight: normal;
        }

        &-header {
            font-size: $type-size-300;
            letter-spacing: 0.1em;
            font-family: $adams;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 2rem;
            color: $mid-blue;
        }
    }
}

.teaser {
    &__status {
        padding-top: 0.5rem;
        font-family: $adams;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-size: $type-size-150;
    }

    &.draft {
        pointer-events: none;

        * {
            color: $light-blue;
        }

        &:hover {
            cursor: default;
        }
    }

    &.alt {
        display: flex;
        align-items: center;

        .teaser {
            &__authors {
                order: -1;
                padding-top: 2px;
                padding-right: 1rem;
                border-right: 1px solid rgba($light-blue, 0.5);
                margin-right: 1rem;

                em {
                    display: none;
                }
            }
        }
    }
}
