.issue {
    &__cover {
        padding-bottom: 4.5rem;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 10 / span 3;
            grid-row: 2;
            padding-bottom: 0;
        }

        &-image {
            max-width: 24rem;
            margin: 0 auto;
        }
    }

    &__cta {
        text-align: center;
        padding-top: 1rem;

        .btn {
            width: 100%;
        }
    }

    .inline-newsletter-form__default {
        margin-top: 3rem;
    }
}
