.issue {
    &__header {
        text-align: center;
        padding-bottom: 3rem;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .pre-header {
            display: block;
            padding-bottom: 0.5rem;
        }

        .ornament {
            padding: 2rem 0;
            max-width: 6rem;
            margin: 0 auto;

            svg {
                display: block;
                height: auto;
                width: 100%;
            }
        }
    }

    &__title {
        font-size: $type-size-500;
        font-family: $adams;
        text-transform: uppercase;
    }

    &__meta {
        font-size: $type-size-100;
        font-family: $adams;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;

        span {
            display: block;

            &.season {
                padding-left: 0.5rem;
                border-left: 1px solid;
                margin-left: 0.5rem;
            }
        }
    }
}
