.contents-header {
    .headline {
        h1 {
            text-transform: uppercase;
            font-family: $adams;
        }

        h2 {
            font-size: clamp(1rem, 1vw, 1.25rem);
            padding-bottom: 0.5rem;
        }
    }

    .cta {
        padding-top: 2rem;
    }
}

.section-header {
    margin-top: 3rem;
    border-top: 1px solid $issue-one-light-blue;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h3 {
        color: $issue-one-dark-blue;
    }
}
