.issue {
    &__header {
        display: grid;
        gap: 2rem;
        align-items: center;

        @include tablet {
            grid-template-columns: 4rem 1fr;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
            grid-template-columns: 24rem 1fr;
        }
    }

    &__meta {
        font-size: $type-size-150;
        font-family: $adams;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        padding-bottom: 0.5rem;

        span {
            display: block;

            &.season {
                padding-left: 0.5rem;
                border-left: 1px solid;
                margin-left: 0.5rem;
            }
        }
    }

    &__title {
        font-size: $type-size-900;
        font-family: $adams;
    }

    &__cta {
        padding-top: 2rem;
    }
}
