.copyright {
    margin-top: 3rem;
    border-top: 1px solid rgba(var(--color-tan), 0.5);
    padding: 0.875rem 1rem;
    border-bottom: 1px solid rgba(var(--color-tan), 0.5);

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 2 / span 12;
    }

    p {
        font-size: var(--type-size-100);
        letter-spacing: 0.05em;
    }

    a {
        text-decoration: underline;
    }
}
