.epigraph {
    margin-top: 3rem;
    @include double-border(var(--color-tan));
    align-self: start;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include tablet {
        grid-column: 7 / span 3;
        margin-top: 0;
    }

    @include desktop-small {
        grid-column: 11 / span 3;
    }
}
