.site-footer {
    margin-top: 3rem;
    padding-bottom: 3rem;
    background: var(--color-blue-dark);
    color: var(--color-tan);

    a {
        color: var(--color-tan);
    }

    @import "logo";

    @import "nav";

    @import "epigraph";

    @import "social";

    @import "copyright";
}

@import "share-modal";
