.site-footer {
    margin-top: 3rem;
    padding-bottom: 3rem;
    background: $dark-blue;
    color: $tan;

    a {
        color: $tan;
    }

    @import 'logo';

    @import 'nav';

    @import 'epigraph';

    @import 'social';

    @import 'copyright';
}
