.footer-logo {
    text-align: center;
    padding-bottom: 3rem;

    @include desktop-small {
        padding-bottom: 4.5rem;
    }

    a {
        display: inline-block;
    }

    svg {
        display: block;
        width: 100%;
        max-width: 14rem;

        path {
            fill: var(--color-tan);
        }
    }
}
