.footer-nav {
    padding: 3rem 0 0 0;

    @include tablet {
        grid-column: 5 / span 5;
        padding: 0;
    }

    @include desktop-small {
        grid-column: 5 / span 3;

    }

    ul {
        @include tablet {
            columns: 2;
        }

        @include desktop-small {
            columns: unset;
        }

    }

    li {
        margin-bottom: 1rem;
        & + li {
            padding-top: 0;
        }
    }

    a {
        font-size: clamp(0.875rem, 1vw, 1.125rem);
    }
}