.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

    &__item {
        padding: 0 1rem;
    }

    &__link {
        display: block;
        width: 1.125rem;
        height: 1.125rem;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;

        path {
            fill: var(--color-tan);
            transition: all 500ms ease;

            &:hover {
                fill: var(--color-white);
            }
        }
    }
}
