.about {
    gap: 2rem;

    &__copy {
        @include desktop-small {
            grid-column: 3 / span 7;
            padding-right: 2rem;
        }
    }

    &__masthead {
        border-top: 1px solid rgba($light-blue, 0.5);
        padding-top: 2rem;

        @include desktop-small {
            grid-column: 10 / span 3;
            border-left: 1px solid rgba($light-blue, 0.5);
            padding-left: 2rem;
            border-top: unset;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .role {
            & + .role {
                padding-top: 2rem;

                @include desktop-small {
                    padding-top: 3rem;
                }
            }

            span {
                display: block;
            }

            .name {
                font-style: italic;
                font-size: $type-size-400;
                letter-spacing: 0.02em;
                padding-bottom: 0.5rem;
            }

            .job-title {
                font-size: $type-size-100;
                letter-spacing: 0.125em;
                text-transform: uppercase;
            }
        }
    }
}
