.about {
    gap: 2rem;

    &__copy {
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 7;
        }

        a {
            text-decoration: underline;
        }
    }

    &__masthead {
        border-top: 1px solid rgba($light-blue, 0.5);
        padding-top: 2rem;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 10 / span 3;
            border-left: 1px solid rgba($light-blue, 0.5);
            padding-left: 2rem;
            border-top: unset;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .role {
            & + .role {
                padding-top: 2rem;

                @include desktop-small {
                    padding-top: 3rem;
                }
            }

            span {
                display: block;
            }

            .name {
                font-style: italic;
                font-size: $type-size-400;
                letter-spacing: 0.02em;
                padding-bottom: 0.5rem;
            }

            .job-title {
                font-size: $type-size-100;
                letter-spacing: 0.125em;
                text-transform: uppercase;
            }
        }
    }

    .form-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        input.email {
            background: transparent;
            border: 1px solid $mid-blue;
            padding: 1rem;
            height: 3rem;
            line-height: 1em;
            font-size: $type-size-200;
            letter-spacing: 0.02em;
            flex: 1;
            color: $dark-blue;
            margin-bottom: 0.5rem;
            background: $white;

            @include desktop-small {
                margin-bottom: 0;
            }

            &:focus,
            &:active {
                outline: none;
            }

            @include placeholder {
                color: $dark-blue;
            }
        }

        input.button {
            padding: 1rem 2rem;
            height: 3rem;
            line-height: 1em;
            border: none;
            background: $mid-blue;
            color: $white;
            font-size: $type-size-050;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: $adams;
            font-weight: bold;
            margin-bottom: 0.5rem;

            @include desktop-small {
                margin-bottom: 0;
            }
        }
    }

    #mce-responses {
        transform: translateY(1rem);
        color: #fff;
        font-size: 0.875rem;

        #mce-error-response,
        #mce-success-response {
            padding: 1rem;
            max-width: 50rem;
        }

        #mce-error-response {
            background: rgb(218, 91, 91);
        }

        #mce-success-response {
            background: rgb(79, 141, 79);
        }
    }
}
