.news-section {
    padding-bottom: 3rem;

    @include tablet {
        padding-bottom: 6rem;
    }

    .section-header {
        margin-top: 3rem;
        border-top: 1px solid rgba(var(--color-blue-light), 0.5);
        padding: 3rem 0;
        text-align: center;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            margin-top: 4.5rem;
            padding: 4.5rem 0;
            grid-column: 3 / span 10;
        }
    }

    .section-title-alt {
        font-size: var(--type-size-600);
    }
}

.news {
    @include tablet {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 4 / span 8;
    }

    & + .news {
        padding-top: 3rem;

        @include tablet {
            padding-top: 4.5rem;
        }
    }

    &__meta {
        font-size: var(--type-size-150);
        font-family: var(--font-sans);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;

        span {
            display: block;
            font-weight: bold;
        }
    }

    &__title {
        font-size: var(--type-size-600);
        line-height: 1.375em;

        a:hover {
            text-decoration: underline;
        }
    }

    &__copy {
        padding: 0.5rem 0 1.5rem 0;
    }

    &__cta {
        display: flex;
        justify-content: flex-end;
    }
}
