.copy {
    line-height: 1.5em;

    & > * + * {
        margin-top: 1.5rem;
    }

    &-1 {
        font-size: var(--type-size-400);
    }

    &-2 {
        font-size: var(--type-size-300);
    }

    &-3 {
        font-size: var(--type-size-200);

        & > * + * {
            margin-top: 1rem;
        }
    }

    ol,
    ul {
        padding-left: 2rem;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    li {
        padding-left: 1rem;
        & + li {
            margin-top: 1.5rem;
        }
    }
}
