.page-header {
    padding-bottom: 2rem;
}

article.post {
    .article-header {
        .author {
            .name-link {
                display: inline-block;
                padding-bottom: 0.25rem;
                transition: all 0.2s ease;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-color: var(--color-issue-1-blue-medium);
                }
            }
        }
    }
}

.title {
    font-family: var(--font-display);
    font-size: clamp(2rem, 3.5vw, 4rem);
    line-height: 1.25em;
}

.sub-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: var(--font-display);
    font-size: clamp(1.25rem, 1.5vw, 1.75rem);
}

.upper-header {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: var(--type-size-150);
    font-family: var(--font-accent);
    font-weight: normal;
}

.small-upper {
    font-family: var(--font-sans);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: var(--type-size-100);
    font-weight: bold;
}

.section-title {
    font-family: var(--font-sans);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: var(--type-size-400);
    font-weight: bold;

    &.sans-serif {
        font-family: var(--font-accent);
        font-size: var(--type-size-300);
        font-weight: normal;
        letter-spacing: 0.1em;
    }

    &-alt {
        font-style: italic;
        font-size: var(--type-size-500);
    }
}

.module-title {
    font-size: var(--type-size-400);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: var(--font-sans);
}
