body,
button,
input,
select,
optgroup,
textarea {
    font-family: var(--font-primary);
}

a {
    color: var(--color-black);
    transition: all 200ms ease;
}

::-moz-selection {
    background: var(--color-red);
    color: var(--color-white);
    text-shadow: none;
}

::selection {
    background: var(--color-red);
    color: var(--color-white);
    text-shadow: none;
}

.small-caps {
    font-variant: small-caps;
    letter-spacing: 0.075em;

    &.lower {
        text-transform: lowercase;
    }
}

@import "headings";

@import "copy";
