body,
button,
input,
select,
optgroup,
textarea {
    font-family: $fournier-std;
}

a {
    color: $black;
}

::-moz-selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

.small-caps {
    font-variant: small-caps;
    letter-spacing: 0.075em;
}

@import 'headings';

@import 'copy';
