$blue-bell: rgb(174, 168, 198);
$independence: #3b3c59;

.site-theme-volume-seven {
}

.issue-theme-volume-seven {
    .sapir-star {
        fill: $independence;
    }

    .wp-block-pullquote:not(.basic) {
        p {
            color: $independence;
        }
    }
}
