$vol-10-green: #91b869;
$vol-10-dark-blue: #173256;
$vol-10-purple: #b0a2ce;
$vol-10-turquoise: #33aebe;
$vol-10-light-orange: #f8ca7d;

.site-theme-volume-ten,
.issue-theme-volume-ten {
    .site-banner {
        .image {
            height: 48px;

            @include tablet {
                height: 96px;
            }

            img {
                object-position: bottom center;
            }
        }
    }

    .sapir-star {
        fill: $vol-10-green;
    }

    .wp-block-pullquote:not(.basic) {
        p {
            color: $vol-10-green;
        }
    }

    .teaser__title a:hover {
        color: $vol-10-turquoise;
    }

    .teaser__author-link:hover .teaser__author-name:after {
        background: rgba($vol-10-turquoise, 0.5);
    }

    .cta .btn {
        border-color: $vol-10-purple;
        color: $black;

        &:hover {
            background-color: $vol-10-purple;
            border-color: $vol-10-purple;
            color: $white;
        }
    }

    .site-header .header-nav .epigraph {
        color: $vol-10-dark-blue;
        border-color: $vol-10-dark-blue;

        &::before {
            border-color: $vol-10-dark-blue;
        }
    }

    .newsletter {
        &__wrapper {
            background: rgba($vol-10-purple, 0.25);
        }

        .section-header h3 {
            color: $vol-10-dark-blue;
        }

        .form-wrapper {
            input.email {
                border-color: $vol-10-dark-blue;
                color: $vol-10-dark-blue;

                @include placeholder {
                    color: $dark-blue;
                }
            }
            input.button {
                background: $vol-10-dark-blue;
            }
        }
    }

    .site-footer {
        //background: #000;
    }

    ::-moz-selection {
        background: $vol-10-green;
        color: $white;
        text-shadow: none;
    }

    ::selection {
        background: $vol-10-green;
        color: $white;
        text-shadow: none;
    }
}

body.page-template-home.site-theme-volume-ten {
    .latest .issue,
    .latest .issue::before {
        border-color: $vol-10-dark-blue;
    }

    .latest .issue .ornament path {
        fill: $vol-10-purple;
    }

    .explore__sections-link a .label:after {
        background: rgba($vol-10-green, 0.5);
    }

    .explore__topics-list a:after {
        background: rgba($vol-10-green, 0.5);
    }

    .most-read,
    .most-read::before {
        border-color: $vol-10-turquoise;
        color: $vol-10-turquoise;
    }

    .most-read {
        a {
            color: $vol-10-turquoise;
        }
    }

    .quote {
        &__header {
            .section-title {
                color: $vol-10-dark-blue;
            }
        }

        blockquote {
            background: rgba($vol-10-purple, 0.25);
            color: $vol-10-dark-blue;

            &::before,
            &::after {
                color: rgba($vol-10-dark-blue, 0.7);
            }
        }

        a:hover {
            blockquote {
                &::before,
                &::after {
                    color: $vol-10-dark-blue;
                }
            }
        }
    }
}

body.single-post .issue-theme-volume-ten {
    .article-header .authors a:hover {
        border-color: rgba($vol-10-green, 0.5);
    }
    .article-footer__links {
        .btn,
        .btn:before {
            border-color: $vol-10-green;
        }

        .btn {
            color: $black;
            &:hover {
                background-color: $vol-10-green;
                color: $white;
            }
        }
    }
}

body.single-issue .issue-theme-volume-ten {
    .issue__header .ornament svg path {
        fill: $vol-10-purple;
    }

    .issue__contents-header {
        color: $vol-10-dark-blue;
    }

    .teaser__date .coming-soon {
        color: $vol-10-green;
    }
}
