$super-pink: #c16c9c;

.issue-theme-volume-eight {
    .site-banner {
        .image {
            height: 48px;

            @include tablet {
                height: 96px;
            }

            img {
                object-position: bottom center;
            }
        }
    }

    .sapir-star {
        fill: $super-pink;
    }

    .wp-block-pullquote:not(.basic) {
        p {
            color: $super-pink;
        }
    }
}
