// Volume 8 Theme - Super Pink
// CSS custom properties defined here, used throughout this file

.issue-theme-volume-eight {
    // Volume-specific color tokens
    --vol-primary: #c16c9c;           // super-pink

    .site-banner {
        .image {
            height: 48px;

            @include tablet {
                height: 96px;
            }

            img {
                object-position: bottom center;
            }
        }
    }

    .sapir-star {
        fill: var(--vol-primary);
    }

    .wp-block-pullquote:not(.basic) {
        p {
            color: var(--vol-primary);
        }
    }
}
