body.page-template-about {
    @include page-header;

    .site-content {
        .page-header {
            padding-bottom: 2rem;
            @include desktop-small {
                .title {
                    grid-column: 2 / span 8;

                }
            }
        }
        article.post {
            @include desktop-small {
                grid-column: 2 / span 8;
            }
        }

        .masthead {
            padding-top: 3rem;

            @include desktop-small {
                padding-top: 0;
                grid-column: 11 / span 3;
            }
        }
    }



    .article-body {
        & > p:first-child:first-line {
           font-variant-caps: normal;
           letter-spacing: 0;
       }


   }

    .masthead {
        .section-header {
            padding-bottom: 1rem;
        }

        .list {
            .role {
                & + .role {
                    padding-top: 3rem;
                }

                span {
                    display: block;
                }

                .name {
                    font-style: italic;
                    font-size: 1.25rem;
                    letter-spacing: 0.02em;
                    padding-bottom: 0.5rem;
                }
                
                .job-title {
                    font-size: 0.75rem;
                    letter-spacing: 0.175em;
                    text-transform: uppercase;
                }
            }
        }
    }
}