body.page-template-events {
    @import 'events/event';

    .recordings-cta {
        padding: 3rem 0;
        text-align: center;

        @include tablet {
            padding: 6rem 0;
        }

        .cta {
            .btn {
                width: 100%;
                max-width: 32rem;
                position: relative;
                display: inline-block;
                @include double-border($light-blue);
                padding: 2rem 1.5rem 1.875rem;
                font-size: $type-size-200;
            }
        }
    }
}
