body.page-template-events {
    @import 'events/event';

    .recordings-cta {
        padding: 3rem 0;
        text-align: center;

        @include tablet {
            padding: 6rem 0;
        }

        .cta {
            .btn {
                width: 100%;
                max-width: 32rem;
                position: relative;
                display: inline-block;
                @include double-border(var(--color-blue-light));
                padding: 2rem 1.5rem 1.875rem;
                font-size: var(--type-size-200);

                &::before {
                    z-index: -1;
                }

                &:hover {
                    background: rgb(234, 239, 237);

                    &::before {
                        background: rgb(234, 239, 237);
                    }
                }
            }
        }
    }
}
