body.page-template-home {
    @import "home/latest";

    @import "home/newsletter";

    @import "home/featured";

    @import "home/explore";

    @import "home/curated-articles";

    @import "home/most-read";

    @import "home/departures";

    @import "home/quote";
}
