.landing-page__issue {
    align-items: start;
    gap: 4rem 2rem;

    .info {
        max-width: 40rem;
        &__title {
            font-size: $type-size-500;
            line-height: 1.375em;

            @include tablet {
                font-size: $type-size-600;
            }
        }

        &__copy {
            padding: 1rem 0 2rem 0;
        }
    }

    .issue {
        &__contents {
            @include desktop-small {
                grid-row: 1;
                grid-column: 2 / span 7;
            }
        }
    }

    .latest-issue {
        max-width: 26rem;
        margin: 3px auto 0 auto;
        @include desktop-small {
            max-width: unset;
            margin: 3px 0 0 0;
            grid-column: 9 / span 5;
            grid-row: 1;
        }

        .cover img {
            max-width: 100%;
        }
    }

    .issue-landing-page__form {
        margin-bottom: 4rem;
        max-width: 40rem;

        div {
            background: #fbf9f7;
        }

        img {
            mix-blend-mode: multiply;
        }
    }
}

.issue-theme-volume-twelve {
    .landing-page__issue {
        .issue__contents-body {
            @include desktop-medium {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 4rem 2rem;
            }
        }

        .issue__contents-section {
            &:nth-child(1),
            &:nth-child(4) {
                @include desktop-medium {
                    grid-column: span 2;
                }
            }
        }
    }
}
