.landing-page__issue {
    align-items: start;
    gap: 4rem 2rem;

    .issue {
        &__contents {
            @include desktop-small {
                grid-row: 1;
                grid-column: 2 / span 5;
            }
        }
    }

    .latest-issue {
        max-width: 26rem;
        margin: 3px auto 0 auto;
        @include desktop-small {
            max-width: unset;
            margin: 3px 0 0 0;
            grid-column: 9 / span 5;
            grid-row: 1;
        }

        .cover img {
            max-width: 100%;
        }
    }
}
