.default-page {
    &__header,
    &__body {
        padding-bottom: 3rem;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }
}
