body.single-news {
    .news {
        & > * {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }

        &__meta {
            font-size: $type-size-150;
            font-family: $adams;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;

            span {
                display: block;
                font-weight: bold;
            }
        }

        &__title {
            font-size: $type-size-600;
            line-height: 1.375em;
        }

        &__body {
            padding: 1.5rem 0 3rem 0;
        }
    }
}
