body.single-authors {

    .site-content {
        .grid {
            & > * {
                @include desktop-small {
                    grid-column: 4 / span 8;
                }
            }
        }
    }


    .bio {
        padding-bottom: 2rem;
        font-size: clamp(1.125rem, 1.25vw, 1.375rem);
        line-height: 1.75em;

        @include desktop-small {
            padding-bottom: 4rem;

            & > * {
                grid-column: 2 / span 8;
            }
        }

		.small-caps {
            text-transform: uppercase;
			letter-spacing: 0.075em;
		}

		.small-caps-alt {
            font-variant: small-caps;
			letter-spacing: 0.075em;
		}
    }

    .articles {
        .section-header {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $medium-blue;
            margin-bottom: 2rem;

        }

        .article {
            & + .article {
                padding-top: 2rem;
            }

            h3 {
                line-height: 1.25em;
                font-size: clamp(1rem, 1.2vw, 1.25rem);

                a {
                    display: inline-block;
                    color: $dark-blue;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            h4 {
                padding-bottom: 0.5rem;
                text-transform: uppercase;
                font-size: clamp(0.5625rem, 0.8vw, 0.675rem);
                letter-spacing: 0.1em;

                a {
                    display: inline-block;
                    color: $dark-blue;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}