body.single-letters {
    .letter {
        & > * {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }

        @import 'single-letters/header';

        @import 'single-letters/editors-note';

        @import 'single-letters/letter';

        @import 'single-letters/back';
    }
}
