@import 'home';
@import 'archive';
@import 'about';
@import 'events';
@import 'contact';

@import 'archive-issue';
@import 'archive-authors';
@import 'archive-news';
@import 'archive-letters';

@import 'single-post';
@import 'single-authors';
@import 'single-issue';
@import 'single-news';
@import 'single-letters';
