.departures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
        display: block;
        content: '';

        @include tablet {
            height: 100%;
            width: 1px;
            background: $light-blue;
            position: absolute;
            left: -2rem;
            top: 0;
        }
    }

    &__header {
        text-align: center;

        .section-title {
            padding: 1.5rem 0;
        }
    }

    &__body {
        padding: 0 2rem;
        flex: 1;
        align-self: center;
    }

    &__footer {
        padding-top: 1.5rem;
    }

    .banner {
        &__footer {
            transform: rotate(180deg);
        }
    }
}
