.explore {
    margin-top: 3rem;

    &__sections {
        border-top: 1px solid var(--color-blue-light);
        border-bottom: 1px solid var(--color-blue-light);
        display: grid;

        @include tablet {
            padding: 2rem 0;
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }

        &-link {
            padding: 3rem 0;

            @include tablet {
                padding: 1rem 0;
            }

            & + .explore__sections-link {
                border-top: 1px solid var(--color-blue-light);

                @include tablet {
                    border-top: none;
                    border-left: 1px solid var(--color-blue-light);
                }
            }

            a {
                display: block;
                text-align: center;

                @include span-hover-underline(".label");
            }

            .icon {
                display: block;
                width: 6rem;
                height: 6rem;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    mix-blend-mode: multiply;
                }
            }

            .label {
                display: inline-block;
                padding: 0.5rem 1rem 0;
                font-family: var(--font-display);
                font-size: var(--type-size-300);
                font-style: italic;
                line-height: 1.25em;

                @include desktop-small {
                    font-size: var(--type-size-400);
                }
            }
        }
    }

    &__topics {
        padding-top: 3rem;

        @include desktop-small {
            grid-column: 2 / span 12;
        }

        &-header {
            text-align: center;
            padding-bottom: 3rem;

            .icon {
                display: block;
                aspect-ratio: 2 / 1;
                max-width: 12rem;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    mix-blend-mode: multiply;
                }
            }

            h3 {
                padding-top: 0.5rem;
                font-family: var(--font-display);
                font-size: var(--type-size-400);
                font-style: italic;
            }
        }

        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .topic {
                border-right: 1px solid var(--color-blue-light);
                margin-bottom: 0.75rem;

                &:last-of-type {
                    border-right: unset;
                }
            }

            a {
                display: block;
                font-size: var(--type-size-400);
                padding: 0.25rem 1.25rem;
                @include basic-underline;
            }
        }
    }
}
