.below-fold {
    &__wrapper {
        margin-top: 3rem;
        border-top: 1px solid $light-blue;
        padding-top: 3rem;
        display: grid;
        gap: 2rem;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

.featured {
    .upper-header {
        padding-bottom: 2rem;
    }

    @import "../archive-conversations/teaser";

    .teaser-conversation {
        @include tablet {
            grid-template-columns: 8rem 1fr;
            gap: 1rem;
        }

        &__icon {
            aspect-ratio: 7 / 6;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                mix-blend-mode: multiply;
            }
        }

        .cta {
            justify-content: flex-start;
            padding-top: 1.5rem;
        }
    }
}
