section.features {
    padding-top: 3rem;

    .features-wrapper {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .feature {
        background: rgba($issue-seven-red, 0.1);
        padding: 2rem;
        color: $issue-seven-red;

        @include desktop-small {
            padding: 3rem;
        }

        .headline {
            padding-bottom: 1rem;
            text-align: center;

            h4 {
                font-family: $fournier-std-grand;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: clamp(1rem, 1.125vw, 1.25rem);
            }
        }

        .dek {
            font-size: clamp(0.875rem, 0.8vw, 1rem);
            line-height: 1.25em;
        }

        .cta {
            padding-top: 1rem;

            .underline {
                display: inline-block;
                font-family: $fournier-std-grand;
                color: $issue-seven-red;
                padding-bottom: 0.125rem;
                border-bottom: 2px solid;
                font-style: italic;
            }
        }

        &.no-dek {
            text-align: center;
        }
    }
}
