.featured {
    margin-top: 3rem;
    border-top: 1px solid $light-blue;
    padding-top: 3rem;

    .upper-header {
        padding-bottom: 2rem;
    }

    @import '../archive-conversations/teaser';

    .teaser-conversation {
        @include tablet {
            grid-template-columns: 8rem 1fr;
        }

        &__icon {
            aspect-ratio: 7 / 6;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                mix-blend-mode: multiply;
            }
        }

        .cta {
            justify-content: flex-start;
            padding-top: 1.5rem;
        }
    }
}
