section.hero {
    background: #f5f5f5;
    padding: 1rem 0 3rem 0;

    .photo {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
        }

        img {
            mix-blend-mode: multiply;
        }
    }

    .info {
        padding-top: 2rem;

        @include tablet {
            padding-top: 0;
            grid-column: 6 / span 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
        }

        a {
            color: $issue-seven-red;
        }

        .headline {
            .title {
                font-size: clamp(1.75rem, 2.25vw, 2.5rem);
                font-family: $adams;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .dek {
            padding: 1rem 0 2rem 0;
            font-size: clamp(1rem, 1.125vw, 1.25rem);
            line-height: 1.5em;
        }

        .cta {
            .btn {
                display: inline-block;
                background: $issue-seven-orange;
                color: $white;
                padding: 0.625rem 1.5rem 0.5rem 1.5rem;
                font-family: $interstate-mono;
                font-size: 0.875rem;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }
    }
}
