.articles {
    padding-top: 3rem;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 2 / span 7;
        grid-row: 1;
        padding-top: 0;
    }

    .upper-header {
        padding-bottom: 1.5rem;
    }
}
