.most-read {
    padding: 2rem;
    color: var(--color-blue-dark);
    @include double-border(var(--color-red));
    counter-reset: article;
    align-self: start;

    a {
        color: var(--color-blue-dark);
    }

    .section-header {
        text-align: center;
        padding-bottom: 2rem;
    }

    .teaser-small {
        padding-left: 2rem;

        @include desktop-small {
            padding-left: 3rem;
        }

        .teaser__title {
            &:before {
                font-family: var(--font-numbers);
                font-size: var(--type-size-400);
                font-weight: bold;
                position: absolute;
                left: -2rem;
                top: 2px;
                counter-increment: article;
                content: counter(article);
                padding: 0 0.25rem;
                transition: all 200ms ease;

                @include desktop-small {
                    left: -3rem;
                }
            }
        }

        .teaser__authors-list {
            a {
                pointer-events: none;

                &:hover {
                    cursor: default;
                }
            }
        }
    }
}
