.quote {
    text-align: center;

    a {
        display: block;

        &:hover {
            blockquote {
                color: var(--color-blue-dark);

                &::before,
                &::after {
                    color: var(--color-blue-mid);
                }
            }
        }
    }

    blockquote {
        background: var(--color-off-white);
        color: var(--color-blue-mid);
        padding: 3rem;
        margin: 0;
        position: relative;
        transition: all 500ms ease;

        &::before,
        &::after {
            display: block;
            position: absolute;
            font-size: clamp(6rem, 12vw, 14rem);
            color: var(--color-blue-light);
            transition: all 500ms ease;
        }

        &::before {
            content: '“';
            top: 0.5rem;
            left: 1rem;
        }

        &::after {
            content: '”';
            bottom: 0.5rem;
            right: 1rem;
            line-height: 0;
        }
    }

    &__header {
        padding-bottom: 1.5rem;

        .section-title {
            color: var(--color-blue-dark);
        }
    }

    &__text {
        font-size: var(--type-size-500);
        line-height: 1.5em;

        @include tablet {
            font-size: var(--type-size-600);
        }

        @include tablet {
            padding: 0 3rem;
        }

        @include desktop-small {
            padding: 0 6rem;
        }
    }

    &__meta {
        font-size: var(--type-size-400);
        line-height: 1.5em;
        padding-top: 1rem;
    }

    &__source {
        text-transform: uppercase;
    }
}
