.archive-results-list {
    &__summary {
        text-align: center;
        padding-bottom: 3rem;

        @include desktop-small {
            padding-bottom: 4.5rem;
        }
    }

    &__title {
        padding-top: 1rem;
        font-size: $type-size-800;
    }

    &__header {
        border-top: 1px solid rgba($light-blue, 0.5);
        border-bottom: 1px solid rgba($light-blue, 0.5);
        padding: 0.5rem 1rem;
        font-size: $type-size-100;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-family: $adams;
        margin-bottom: 3rem;

        @include tablet {
            margin-bottom: 4.5rem;
        }
    }
}

.teaser-search-result {
    @include desktop-small {
        grid-column: 4 / span 8;
    }
}
