.cta {
    &.center {
        text-align: center;
    }
    .btn {
        display: inline-block;
        border: 1px solid var(--color-blue-light);
        padding: 1rem 1.5rem 0.875rem;
        transition: all 200ms ease;
        color: var(--color-black);

        &.small-upper {
            &:after {
                content: ' ››';
            }
        }

        &:hover {
            background: rgb(189, 205, 206);
            border-color: var(--color-blue-light);
            text-decoration: none;
        }
    }
}
