.epigraph {
    padding: 1.5rem;

    @include desktop-small {
        max-width: 14rem;
        margin-left: auto;
    }

    .text {
        text-align: right;
        font-size: $type-size-300;
        line-height: 1.5em;
        font-family: $adams;
    }

    strong {
        display: block;
        padding-top: 0.25rem;
        font-weight: normal;
    }
}
