.epigraph {
    padding: 1.5rem;

    @include desktop-small {
        max-width: 14rem;
        margin-left: auto;
        grid-column: 11 / span 3;
    }

    .text {
        text-align: right;
        font-size: var(--type-size-300);
        line-height: 1.5em;
        font-family: var(--font-sans);

        @include desktop-small {
            font-size: var(--type-size-200);
        }

        @include desktop-medium {
            font-size: var(--type-size-300);
        }
    }

    strong {
        display: block;
        padding-top: 0.25rem;
        font-weight: normal;
    }
}
