.latest-issue {
    padding: 2rem;
    @include double-border(var(--color-blue-light));

    .header {
        text-align: center;
        padding-bottom: 1rem;

        h3 {
            a {
                margin-top: 0.5rem;
                display: block;
                font-family: var(--font-sans);
                font-size: var(--type-size-500);
                text-transform: uppercase;
                font-weight: normal;
            }
        }
    }

    .ornament {
        padding: 1rem 0;

        svg {
            width: 4rem;
        }
    }

    .meta {
        display: flex;
        justify-content: center;

        span {
            display: block;

            &.season {
                padding-left: 0.5rem;
                border-left: 1px solid var(--color-blue-dark);
                margin-left: 0.5rem;
            }
        }
    }

    .cover {
        img {
            width: 100%;
            max-width: 24rem;
            margin: 0 auto;
        }
    }

    .cta {
        padding-top: 1.5rem;
        text-align: center;
    }
}
