nav {
    li {
        & + li {
            padding-top: 2rem;
        }
    }

    a {
        color: $white;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-family: $fournier-std-grand;
        font-size: clamp(1rem, 1.25vw, 1.5rem);
        border-bottom: 1px solid transparent;
        padding-bottom: 0.25rem;
        transition: all 0.2s ease;
        text-decoration: none;

        &:hover {
            border-color: $issue-six-orange;
        }
    }
}
