.inline-newsletter-form {
    &__default {
        .blakeslee-powered-by {
            opacity: 0;
        }

        .slim-line-imge-content,
        .blakeslee-imge-content {
            background: #fbf9f7;
        }

        img {
            mix-blend-mode: multiply;
        }
    }

    &__slim {
        .blakeslee-powered-by {
            opacity: 0;
        }

        .slim-line-imge-content {
            background: #fbf9f7;
        }

        img {
            mix-blend-mode: multiply;
        }
    }
}

.slim-line-row-inner {
    align-items: center;
}

.slim-line-field-submit {
    white-space: nowrap;
}
