.newsletter {
    &__wrapper {
        padding: 2rem;
        background: $off-white;
        display: grid;
        gap: 2rem 3rem;

        @include tablet {
            grid-template-columns: auto 1fr;
            padding: 2rem 3rem;
        }
    }

    .section-header {
        display: flex;
        align-items: center;

        svg {
            width: 2.5rem;
            height: 2.5rem;

            path {
                fill: $dark-blue;
            }
        }

        h3 {
            color: $dark-blue;
            font-size: $type-size-300;
            line-height: 1.25em;
            padding-left: 1rem;
        }
    }

    .form-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        input.email {
            background: transparent;
            border: 1px solid $mid-blue;
            padding: 1rem;
            height: 3rem;
            line-height: 1em;
            font-size: $type-size-200;
            letter-spacing: 0.02em;
            flex: 1;
            color: $dark-blue;
            margin-bottom: 0.5rem;

            @include desktop-small {
                margin-bottom: 0;
            }

            &:focus,
            &:active {
                outline: none;
            }

            @include placeholder {
                color: $dark-blue;
            }
        }

        input.button {
            padding: 1rem 2rem;
            height: 3rem;
            line-height: 1em;
            border: none;
            background: $mid-blue;
            color: $white;
            font-size: $type-size-050;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: $adams;
            font-weight: bold;
            margin-bottom: 0.5rem;

            @include desktop-small {
                margin-bottom: 0;
            }
        }
    }

    #mce-responses {
        transform: translateY(1rem);
        color: #fff;
        font-size: 0.875rem;

        #mce-error-response,
        #mce-success-response {
            padding: 1rem;
            max-width: 50rem;
        }

        #mce-error-response {
            background: rgb(218, 91, 91);
        }

        #mce-success-response {
            background: rgb(79, 141, 79);
        }
    }
}
