.search-form {
    display: flex;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;

    .search-field {
        background: transparent;
        border: 1px solid var(--color-blue-mid);
        padding: 1rem;
        height: 3rem;
        line-height: 1em;
        font-size: var(--type-size-200);
        letter-spacing: 0.02em;
        flex: 1;
        color: var(--color-blue-dark);
        margin-bottom: 0.5rem;

        @include desktop-small {
            margin-bottom: 0;
        }

        &:focus,
        &:active {
            outline: none;
        }

        @include placeholder {
            color: var(--color-blue-dark);
        }
    }

    .search-submit {
        padding: 1rem 2rem 0.875rem;
        height: 3rem;
        line-height: 1em;
        border: none;
        background: var(--color-blue-mid);
        color: var(--color-white);
        font-size: var(--type-size-050);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-family: var(--font-sans);
        font-weight: bold;
    }
}
