.site-banner {
    background: $off-white;
    width: 100%;
    grid-column: 1 / -1;

    .image {
        height: clamp(2rem, 7vh, 4rem);
    }

    @include cover-fill-image;
}

.header-banner {
    border-bottom: 1px solid $black;
    margin-bottom: 3rem;
}

.footer-banner {
    border-top: 1px solid $black;
    margin-bottom: 3rem;
}
