.teaser {
    &__title {
        font-family: var(--font-display);

        a {
            &:hover {
                text-decoration: none;
                color: var(--color-red);
            }
        }
    }

    &__authors {
        &-by {
            padding-right: 0.175rem;
        }
    }

    &__author {
        display: inline-block;
        line-height: 1.5em;

        &::after {
            display: inline-block;
            content: ",";
            padding-right: 0.125rem;
        }

        &:nth-last-child(2)::after {
            content: "&";
            padding: 0 0.25rem 0 0.375rem;
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }

        &-link {
            text-transform: uppercase;
            letter-spacing: 0.075em;
            min-height: 44px;
            display: inline-flex;
            align-items: center;

            &:hover {
                text-decoration: none;
            }

            @include span-hover-underline(".teaser__author-name");

            .teaser__author-name {
                position: relative;
                &::after {
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    &__interviewers {
        padding-top: 0.5rem;
    }

    &__interviewer {
        display: inline-block;
        line-height: 1.5em;

        &::after {
            display: inline-block;
            content: ",";
            padding-right: 0.125rem;
        }

        &:nth-last-child(2)::after {
            content: "&";
            padding: 0 0.25rem 0 0.375rem;
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }

        &-link {
            font-style: italic;
            &:hover {
                text-decoration: none;
            }

            @include span-hover-underline(".teaser__interviewer-name");

            .teaser__interviewer-name {
                position: relative;
                &::after {
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    &-large {
        & + .teaser-large {
            padding-top: 3rem;

            @include tablet {
                padding-top: 4rem;
            }
        }

        .teaser {
            &__headline {
            }

            &__title {
                font-size: var(--type-size-600);

                @include tablet {
                    font-size: var(--type-size-700);
                }
            }

            &__dek {
                font-size: var(--type-size-300);
                line-height: 1.5em;
                padding-top: 1rem;
            }

            &__authors {
                padding-top: 1rem;
                font-size: var(--type-size-300);
            }
        }
    }

    &-small {
        & + .teaser-small {
            padding-top: 2rem;
        }

        .teaser {
            &__title {
                font-size: var(--type-size-300);

                @include tablet {
                    font-size: var(--type-size-400);
                }
            }

            &__authors {
                font-size: var(--type-size-150);
                padding-top: 0.675rem;

                @include tablet {
                    font-size: var(--type-size-200);
                }
            }
        }
    }

    &-search-result {
        .teaser__meta {
            padding-bottom: 1rem;
            font-size: var(--type-size-150);
            font-family: var(--font-sans);
            text-transform: uppercase;
            letter-spacing: 0.1em;

            &-wrapper {
                display: flex;
                align-items: center;
            }

            a {
                display: inline-block;
                @include hover-underline;
            }

            span {
                display: block;
                white-space: nowrap;

                &.volume,
                &.season {
                    padding-left: 0.5rem;
                    border-left: 1px solid;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
