.teaser {
    & + .teaser {
        padding-top: 3rem;

        @include tablet {
            padding-top: 4rem;
        }
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    &__headline {
        padding-bottom: 0.5rem;
    }

    &__title {
        font-size: $type-size-600;

        @include tablet {
            font-size: $type-size-700;
        }
    }

    &__dek {
        font-size: $type-size-300;
        line-height: 1.5em;

        @include tablet {
            font-size: $type-size-400;
        }
    }

    &__authors {
        font-size: $type-size-300;
        padding-top: 1rem;
        display: flex;
        align-items: center;

        @include tablet {
            font-size: $type-size-400;
        }

        em {
            display: block;
            padding-right: 0.375rem;
        }

        a {
            text-transform: uppercase;
            letter-spacing: 0.025em;

            & + a:before {
                content: ',';
                padding-right: 0.5rem;
            }

            & + a:nth-child(n + 3):before {
                content: '&';
                padding-left: 0.5rem;
            }
        }

        &.authors-2 {
            a + a:before {
                content: '&';
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
}
