.letter {
    &__meta {
        font-size: var(--type-size-150);
        font-family: var(--font-sans);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;

        span {
            display: block;
            font-weight: bold;
        }
    }
}
