.letter {
    &__header {
        padding-bottom: 2rem;
    }

    &__title {
        font-size: $type-size-600;
        line-height: 1.375em;
    }

    .meta {
        padding-top: 2.5rem;
        text-align: right;

        .name {
            font-size: $type-size-400;
        }

        .info {
            padding-top: 0.5rem;
            font-size: $type-size-200;
            font-style: italic;
        }

        &-line {
            display: block;
            line-height: 1.2em;
        }
    }
}
